# Build output
dist/
build/

# Dependencies
node_modules/

# Logs
*.log
build_log*.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
